<div class="container mt-3">
	<div class="table-responsive">
		<h3>Personas</h3>
		<ng-container *ngIf="persons">
			<table datatable class="table table-hover">
				<thead>
					<tr class="text-center">
						<th scope="col">Nombre</th>
						<th scope="col">Telefono</th>
						<th scope="col">Email</th>
						<th scope="col" style="width: 20%;">Dirección</th>
						<th scope="col">Rol</th>
						<th><a routerLink="/FormNew" class="btn btn-primary btn-sm">+ Nuevo</a></th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center" *ngFor="let person of persons">
						<td>{{ person.per_name }}</td>
						<td>{{ person.per_phone }}</td>
						<td>{{ person.per_email }}</td>
						<td>{{ person.address }}</td>
						<td>{{ person.rol_nombre }}</td>
						<td>
							<button class="btn btn-success btn-sm" (click)="GoDetail(person.per_id)">Detalle</button>
							<button class="btn btn-primary btn-sm m-1" (click)="GoEdit(person.per_id)">Editar</button>
							<button class="btn btn-danger btn-sm" (click)="GoDelete(person.per_id)">Eliminar</button>
						</td>
					</tr>
				</tbody>
			</table>
		</ng-container>
	</div>
</div>